/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.dmg-read-more {
	a {
		color: #0073aa;
		text-decoration: none;
		font-weight: bold;
		font-style: italic;
		&:hover {
			text-decoration: underline;
		}
	}
}
